<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/bootstrap-reponsive.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-reponsive.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <script type="text/javascript" src="/javascripts/jquery-min.js"></script>
        
</head>

<body>
    <div class="container">
      <!--   <div id="header"></div>
       -->  <div class="container-fluid">
        <div class="row-fluid">
 <div class="span9">
  <div class="hero-unit">           
<h1> Welcome to User Dashboard </h1>
</div>
</div>
<div class="span3">
 <div class="well">
 <div class="sidebar-nav">   
<h3> Logged in as: <%= user %> </h3>
</div>
</div>
</div><!-- 
<div class= "span4">
<h2> Timeline </h2>
<ul>
    <% for (var i=0; i < tweets.length; i++) { %>
        <% for (var j=0; j < followers.length; j++) { %>
            <% if(tweets[i].username == followers[j].username && followers[j].follower == user){ %>
                <li><%= tweets[i].username %>: <%= tweets[i].text %></li>
            <% } %>
        <% } %>
    <% } %>
</ul>
 
<h2> <%= user %>'s Tweets </h2>
<ul>
    <% for (var i=0; i < tweets.length; i++) { %>
        <% if(tweets[i].username == user){ %>
            <li><%= tweets[i].username %>: <%= tweets[i].text %></li>
        <% } %>
    <% } %>
</ul>

<h2> Followers List </h2>
<ul>
    <% for (var i=0; i < followers.length; i++) { %>
        <% if(followers[i].username == user){ %>
            <li><%= followers[i].follower %></li>
        <% } %>
    <% } %>
</ul>

<h2> Followers Tweets History</h2> </br>
<ul>
    <% for (var i=0; i < tweets.length; i++) { %>
        <li><%= tweets[i].username %>: <%= tweets[i].text %></li>
    <% } %>
</ul>

<h2> Following List </h2>
<ul>
    <% for (var i=0; i < followers.length; i++) { %>
        <% if(followers[i].follower == user){ %>
            <li><%= followers[i].username %></li>
        <% } %>
    <% } %>
</ul>


Please make a decision of what you want to do </br>
1 for Tweet a message </br>
2 for follow a friend </br>
3 for unfollow a friend </br>
4 for go into user profile </br>
5 for logout </br>

<form method="get" action="/dashboardhandler">
Decision: <input type="text" name="decision"/><br/>
<input type="submit" value="Enter"/> -->
</div>
</dashboardhandler></br>
</div>
</div>
</div>
</body>
</html>